h1 {
    font-size: 5rem;
    top: 10px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.input-group button {
    background-color: #4aa3df;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0.5rem;
    visibility: hidden;
}

.input-group ul li {
    margin-bottom: 0.5rem;
}

.input-group ul li button {
    background-color: #8ea2af;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    font-size: 1rem;
    padding: 0 1rem;
    
}

.input-group ul.visible {
    visibility: visible;
}

.input-group button:hover {
    background-color: #161b33;
}
