.content-container {
    background-color: #e4e4e4;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 200%;
    min-height: 400px;
    
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    padding: 0 1rem;
}

.info-container ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    list-style-type: none;
    align-items: center;
}

.card-container {
    background-color: #4aa3df;
    color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 300px;
}

.card-container:hover {
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    padding: 0 1rem;
    margin-top: 1rem;
}

.front {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    background-color: #4aa3df;
    border-radius: 1rem;
    min-height: 300px;
}

.back {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    background-color: #161b33;
    border-radius: 1rem;
    min-height: 300px;
}

.question-text {
    font-size: 1.5rem;
    font-weight: bold;
}